# Python artifacts
*.pyc
*.pyo
*.egg-info/
__pycache__/

# Test artifacts
artifacts/*
common_modules/pdf_pager/tests/artifacts/*
*/test.txt
*/downloaded_test.txt

# Virtual environment
venv/
*.venv
env/

# IDE settings
.idea/
*.swp
*.swo
